<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="plugin">
      <h2 data-cy="pluginDetailsHeading"><span jhiTranslate="xperisApp.plugin.detail.title">Data Template</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ plugin.id }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.plugin.name">Name</span></dt>
        <dd>
          <span>{{ plugin.name }}</span>
          <span *ngIf="plugin.activated" class="badge badge-success" jhiTranslate="userManagement.activated">Activated</span>
          <span *ngIf="!plugin.activated" class="badge badge-danger" jhiTranslate="userManagement.deactivated">Deactivated</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.plugin.className">Data Structure</span></dt>
        <dd>
          <span>{{ plugin.className }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.plugin.data">Data</span></dt>
        <dd>
          <div *ngIf="plugin.data">
            {{ plugin.fileName }}, {{ byteSize(plugin.data) }}
            <button
              type="button"
              (click)="openFile(plugin.fileName!!, plugin.data)"
              class="btn btn-primary btn-xs pull-right"
            >
              <fa-icon icon="download"></fa-icon>
            </button>
          </div>
        </dd>
        <dt><span jhiTranslate="xperisApp.plugin.dataMimeType">Data Mime Type</span></dt>
        <dd>
          <div *ngIf="plugin.dataMimeType">
            <a [routerLink]="['/data-mime-type', plugin.dataMimeType?.id, 'view']">{{ plugin.dataMimeType?.type }}</a>
          </div>
        </dd>
      </dl>
      <jhi-audit [entity]="plugin"></jhi-audit>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/plugin', plugin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
