<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="experimentMetaData">
      <h2 data-cy="experimentMetaDataDetailsHeading">
        <span jhiTranslate="xperisApp.experimentMetaData.detail.title">Experiment Meta Data</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ experimentMetaData.id }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experimentMetaData.description">Description</span></dt>
        <dd>
          <span>{{ experimentMetaData.description }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experimentMetaData.dataStructure">Data Structure</span></dt>
        <dd>
          <span>{{ experimentMetaData.dataStructure }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experimentMetaData.experiment">Experiment</span></dt>
        <dd>
          <div *ngIf="experimentMetaData.experiment">
            <a [routerLink]="['/experiment', experimentMetaData.experiment?.id, 'view']">{{ experimentMetaData.experiment?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="xperisApp.experimentMetaData.dataMimeType">Data Mime Type</span></dt>
        <dd>
          <div *ngIf="experimentMetaData.dataMimeType">
            <a [routerLink]="['/data-mime-type', experimentMetaData.dataMimeType?.id, 'view']">{{
              experimentMetaData.dataMimeType?.type
            }}</a>
            <div *ngFor="let plugin of plugin">
              <button
                *ngIf="plugin.dataMimeType?.type == experimentMetaData.dataMimeType?.type"
                (click)="getPluginView(experimentMetaData.id, plugin)"
                class="badge badge-success"
              >
                {{ plugin.name }}
              </button>
            </div>
          </div>
        </dd>
        <dt><span jhiTranslate="xperisApp.experimentMetaData.experimentData">Experiment Data</span></dt>
        <dd>
          <p style="margin-bottom: 0px" *ngFor="let expData of experimentMetaData.experimentData; let last = last">
            <a [routerLink]="['/experiment-data', expData.id, 'view']"
              >{{ expData.participants }}&nbsp;({{ expData.createdDate | date: 'dd/MM/yy HH:mm:ss' }})</a
            >{{ last ? '' : ', ' }}
          </p>
        </dd>
        <dt><span jhiTranslate="xperisApp.experimentData.logs">Change Logs</span></dt>
        <dd>
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr>
                <th><span jhiTranslate="userManagement.lastModifiedDate">Modified Date</span></th>
                <th><span jhiTranslate="userManagement.lastModifiedBy">Modified By</span></th>
                <th><span jhiTranslate="xperisApp.experimentData.action">Action</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let log of experimentMetaData.logs">
                <td>{{ log.createdDate }}</td>
                <td>{{ log.createdBy }}</td>
                <td>{{ log.logAction }}</td>
              </tr>
            </tbody>
          </table>
        </dd>
      </dl>
      <jhi-audit [entity]="experimentMetaData"></jhi-audit>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        *ngIf="experimentMetaData.experimentData && experimentMetaData.experimentData.length > 0"
        type="button"
        (click)="downloadZip(experimentMetaData.id)"
        class="btn btn-secondary"
      >
        <fa-icon icon="download"></fa-icon>&nbsp;<span>Download Zip</span>
      </button>

      <button type="button" [routerLink]="['/experiment-meta-data', experimentMetaData.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
