<div>
  <h2 id="page-heading" data-cy="PluginHeading">
    <span jhiTranslate="xperisApp.plugin.home.title">Plugins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="xperisApp.plugin.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary mr-2 jh-create-entity create-institution"
        [routerLink]="['/plugin/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="xperisApp.plugin.home.createLabel"> Upload a new Plugin </span>
      </button>
      <button id="jh-reload-folder" data-cy="reloadFolderButton" class="btn btn-secondary" (click)="reloadFolder()">
        <fa-icon icon="redo"></fa-icon>
        <span jhiTranslate="xperisApp.plugin.home.reloadFolder"> Reload Plugins Folder </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="plugins?.length === 0">
    <span jhiTranslate="xperisApp.plugin.home.notFound">No plugins found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="plugins && plugins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="xperisApp.plugin.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="activated"><span jhiTranslate="xperisApp.plugin.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="className">
            <span jhiTranslate="xperisApp.plugin.className">Data Structure</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fileName">
            <span jhiTranslate="xperisApp.plugin.fileName">Viewer Classes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataMimeType.name">
            <span jhiTranslate="xperisApp.plugin.dataMimeType">Data Mime Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plugin of plugins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/plugin', plugin.id, 'view']">{{ plugin.id }}</a>
          </td>
          <td>{{ plugin.name }}</td>
          <td>
            <button
              class="btn btn-danger btn-sm btn-block"
              (click)="setActive(plugin, true)"
              *ngIf="!plugin.activated && plugin.valid"
              jhiTranslate="userManagement.deactivated"
            >
              Deactivated
            </button>
            <button
              class="btn btn-secondary btn-sm btn-block"
              disabled
              *ngIf="!plugin.valid"
              jhiTranslate="xperisApp.plugin.invalid"
            >
              Invalid
            </button>
            <button
              class="btn btn-success btn-sm btn-block"
              (click)="setActive(plugin, false)"
              *ngIf="plugin.activated"
              jhiTranslate="userManagement.activated"
            >
              Activated
            </button>
          </td>
          <td style="white-space: nowrap;">
            {{ plugin.className }}
            <svg *ngIf="plugin.valid" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
            <svg *ngIf="!plugin.valid" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </td>

          <td>{{ plugin.fileName }}</td>
          <td>
            <div *ngIf="plugin.dataMimeType">
              <a [routerLink]="['/data-mime-type', plugin.dataMimeType?.id, 'view']">{{ plugin.dataMimeType?.type }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/plugin', plugin.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/plugin', plugin.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
              <button type="submit" (click)="delete(plugin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="plugins && plugins.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
