<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-experiment-heading" data-cy="ExperimentCreateUpdateHeading" jhiTranslate="xperisApp.experiment.home.createOrEditLabel">
        Create or edit a Experiment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experiment.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experiment.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experiment.startDate" for="field_startDate">Start Date</label>
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experiment.finishCaptureDate" for="field_finishCaptureDate"
            >Finish Capture Date</label
          >
          <div class="d-flex">
            <input
              id="field_finishCaptureDate"
              data-cy="finishCaptureDate"
              type="datetime-local"
              class="form-control"
              name="finishCaptureDate"
              formControlName="finishCaptureDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experiment.finishDate" for="field_finishDate">Finish Date</label>
          <div class="d-flex">
            <input
              id="field_finishDate"
              data-cy="finishDate"
              type="datetime-local"
              class="form-control"
              name="finishDate"
              formControlName="finishDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="xperisApp.experiment.members" for="field_members">Members</label>
          <select class="form-control" id="field_members" data-cy="members" multiple name="members" formControlName="members">
            <option
              [ngValue]="getSelectedUser(userOption, editForm.get('members')!.value)"
              *ngFor="let userOption of membersCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="xperisApp.experiment.assistants" for="field_assistants">Assistants</label>
          <select class="form-control" id="field_assistants" data-cy="assistants" multiple name="assistants" formControlName="assistants">
            <option
              [ngValue]="getSelectedUser(userOption, editForm.get('assistants')!.value)"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
