<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-data-template-heading"
        data-cy="DataTemplateCreateUpdateHeading"
        jhiTranslate="xperisApp.dataTemplate.home.createOrEditLabel"
      >
        Create or edit a Data Template
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.dataTemplate.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.dataTemplate.dataStructure" for="field_dataStructure"
            >Data Structure</label
          >
          <textarea
            class="form-control"
            name="dataStructure"
            id="field_dataStructure"
            data-cy="dataStructure"
            formControlName="dataStructure"
          ></textarea>
          <div
            *ngIf="
              editForm.get('dataStructure')!.invalid && (editForm.get('dataStructure')!.dirty || editForm.get('dataStructure')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dataStructure')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.dataTemplate.dataMimeType" for="field_dataMimeType"
            >Data Mime Type</label
          >
          <select class="form-control" id="field_dataMimeType" data-cy="dataMimeType" name="dataMimeType" formControlName="dataMimeType">
            <option *ngIf="!editForm.get('dataMimeType')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                dataMimeTypeOption.id === editForm.get('dataMimeType')!.value?.id ? editForm.get('dataMimeType')!.value : dataMimeTypeOption
              "
              *ngFor="let dataMimeTypeOption of dataMimeTypesSharedCollection; trackBy: trackDataMimeTypeById"
            >
              {{ dataMimeTypeOption.type }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['dataMimeType'])!.invalid && (editForm.get(['dataMimeType'])!.dirty || editForm.get(['dataMimeType'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['dataMimeType'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
