<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="experimentData">
      <h2 data-cy="experimentDataDetailsHeading"><span jhiTranslate="xperisApp.experimentData.detail.title">Experiment Data</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ experimentData.id }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experimentData.participants">Participants</span></dt>
        <dd>
          <span>{{ experimentData.participants }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experimentData.data">Data</span></dt>
        <dd>
          <div *ngIf="experimentData.data">
            {{ experimentData.dataContentType }}, {{ byteSize(experimentData.data) }}
            <button
              type="button"
              (click)="openFile(experimentData.id, experimentData.data, experimentData.dataContentType)"
              class="btn btn-primary btn-xs pull-right"
            >
              <fa-icon icon="download"></fa-icon>
            </button>
          </div>
        </dd>
        <dt><span jhiTranslate="xperisApp.experimentData.experimentMetaData">Experiment Meta Data</span></dt>
        <dd>
          <div *ngIf="experimentData.experimentMetaData">
            <a [routerLink]="['/experiment-meta-data', experimentData.experimentMetaData?.id, 'view']">
              {{ experimentData.experimentMetaData?.description }}&nbsp;({{ experimentData.dataContentType }})
            </a>
          </div>
        </dd>
        <dt><span jhiTranslate="xperisApp.experimentData.logs">Change Logs</span></dt>
        <dd>
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr>
                <th><span jhiTranslate="userManagement.lastModifiedDate">Modified Date</span></th>
                <th><span jhiTranslate="userManagement.lastModifiedBy">Modified By</span></th>
                <th><span jhiTranslate="xperisApp.experimentData.action">Action</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let log of experimentData.logs">
                <td>{{ log.createdDate }}</td>
                <td>{{ log.createdBy }}</td>
                <td>{{ log.logAction }}</td>
              </tr>
            </tbody>
          </table>
        </dd>
      </dl>
      <jhi-audit [entity]="experimentData"></jhi-audit>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/experiment-data', experimentData.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
