<div>
  <h2 id="page-heading" data-cy="DataTemplateHeading">
    <span jhiTranslate="xperisApp.dataTemplate.home.title">Data Templates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="xperisApp.dataTemplate.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-data-template"
        [routerLink]="['/data-template/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="xperisApp.dataTemplate.home.createLabel"> Create a new Data Template </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dataTemplates?.length === 0">
    <span jhiTranslate="xperisApp.dataTemplate.home.notFound">No dataTemplates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dataTemplates && dataTemplates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="xperisApp.dataTemplate.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dataStructure">
            <span jhiTranslate="xperisApp.dataTemplate.dataStructure">Data Structure</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataMimeType.name">
            <span jhiTranslate="xperisApp.dataTemplate.dataMimeType">Data Mime Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataTemplate of dataTemplates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/data-template', dataTemplate.id, 'view']">{{ dataTemplate.id }}</a>
          </td>
          <td>{{ dataTemplate.name }}</td>
          <td>{{ dataTemplate.dataStructure }}</td>
          <td>
            <div *ngIf="dataTemplate.dataMimeType">
              <a [routerLink]="['/data-mime-type', dataTemplate.dataMimeType?.id, 'view']">{{ dataTemplate.dataMimeType?.type }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="button"
                [routerLink]="['/experiment-meta-data/new']"
                [state]="dataTemplate"
                class="btn btn-secondary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="copy"></fa-icon>&nbsp;<span>MetaData</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/data-template', dataTemplate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/data-template', dataTemplate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dataTemplate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dataTemplates && dataTemplates.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
