<div class="row">
  <div class="col"></div>
  <div class="col">
    <dl class="offset-md-1 row-md jh-entity-details">
      <dt><span jhiTranslate="userManagement.createdBy">Created By</span></dt>
      <dd>
        <span>{{ entity.createdBy }}</span>
      </dd>
      <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
      <dd>
        <span>{{ entity.createdDate | date: 'dd/MM/yy HH:mm' }}</span>
      </dd>
      <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
      <dd>
        <span>{{ entity.lastModifiedBy }}</span>
      </dd>
      <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
      <dd>
        <span>{{ entity.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</span>
      </dd>
    </dl>
  </div>
</div>
