<div>
  <h2 id="page-heading" data-cy="ExperimentDataHeading">
    <span jhiTranslate="xperisApp.experimentData.home.title">Experiment Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="xperisApp.experimentData.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_MASTER'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-experiment-data"
        [routerLink]="['/experiment-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="xperisApp.experimentData.home.createLabel"> Create a new Experiment Data </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="experimentData?.length === 0">
    <span jhiTranslate="xperisApp.experimentData.home.notFound">No experimentData found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="experimentData && experimentData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="participants">
            <span jhiTranslate="xperisApp.experimentData.participants">Participants</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="experimentMetaData.id">
            <span jhiTranslate="xperisApp.experimentData.experimentMetaData">Experiment Meta Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="data">
            <span jhiTranslate="xperisApp.experimentData.data">Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="userManagement.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="userManagement.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let experimentData of experimentData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/experiment-data', experimentData.id, 'view']">{{ experimentData.id }}</a>
          </td>
          <td>{{ experimentData.participants }}</td>
          <td>
            <div *ngIf="experimentData.experimentMetaData">
              <a [routerLink]="['/experiment-meta-data', experimentData.experimentMetaData?.id, 'view']">
                {{ experimentData.experimentMetaData?.description }}&nbsp;({{ experimentData.dataContentType }})
              </a>
            </div>
          </td>
          <td>
            <div *ngIf="experimentData.data">
              {{ experimentData.dataContentType }}, {{ byteSize(experimentData.data) }}
              <button
                type="button"
                (click)="openFile(experimentData.id, experimentData.data, experimentData.dataContentType)"
                class="btn btn-primary btn-xs pull-right"
              >
                <fa-icon icon="download"></fa-icon>
              </button>
            </div>
          </td>

          <td>{{ experimentData.createdDate | date: 'dd/MM/yy HH:mm:ss.SSS' }}</td>
          <td>{{ experimentData.createdBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/experiment-data', experimentData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_MASTER'"
                type="submit"
                [routerLink]="['/experiment-data', experimentData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                *jhiHasAnyAuthority="'ROLE_MASTER'"
                (click)="delete(experimentData)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="experimentData && experimentData.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
