<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dataTemplate">
      <h2 data-cy="dataTemplateDetailsHeading"><span jhiTranslate="xperisApp.dataTemplate.detail.title">Data Template</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dataTemplate.id }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.dataTemplate.name">Name</span></dt>
        <dd>
          <span>{{ dataTemplate.name }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.dataTemplate.dataStructure">Data Structure</span></dt>
        <dd>
          <span>{{ dataTemplate.dataStructure }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.dataTemplate.dataMimeType">Data Mime Type</span></dt>
        <dd>
          <div *ngIf="dataTemplate.dataMimeType">
            <a [routerLink]="['/data-mime-type', dataTemplate.dataMimeType?.id, 'view']">{{ dataTemplate.dataMimeType?.type }}</a>
          </div>
        </dd>
      </dl>
      <jhi-audit [entity]="dataTemplate"></jhi-audit>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/experiment-meta-data/new']" [state]="dataTemplate" class="btn btn-secondary">
        <fa-icon icon="copy"></fa-icon>&nbsp;<span jhiTranslate="xperisApp.dataTemplate.createMetaData">Create MetaData</span>
      </button>

      <button type="button" [routerLink]="['/data-template', dataTemplate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
