<div>
  <h2 id="page-heading" data-cy="ExperimentMetaDataHeading">
    <span jhiTranslate="xperisApp.experimentMetaData.home.title">Experiment Meta Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="xperisApp.experimentMetaData.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_MASTER'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-experiment-meta-data mr-2"
        [routerLink]="['/experiment-meta-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="xperisApp.experimentMetaData.home.createLabel"> Create a new Experiment Meta Data </span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_MASTER'"
        id="jh-create-template-entity"
        data-cy="entityCreateButton"
        class="btn btn-secondary"
        [routerLink]="['/data-template']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="xperisApp.experimentMetaData.home.createFromTemplateLabel"> Create from Template </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="experimentMetaData?.length === 0">
    <span jhiTranslate="xperisApp.experimentMetaData.home.notFound">No experimentMetaData found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="experimentMetaData && experimentMetaData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="xperisApp.experimentMetaData.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataStructure">
            <span jhiTranslate="xperisApp.experimentMetaData.dataStructure">Data Structure</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="experiment.id">
            <span jhiTranslate="xperisApp.experimentMetaData.experiment">Experiment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataMimeType.id">
            <span jhiTranslate="xperisApp.experimentMetaData.dataMimeType">Data Mime Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="xperisApp.experimentMetaData.experimentData">Experiment Data</span>
          </th>
          <th scope="col">
            <span jhiTranslate="xperisApp.experimentMetaData.viewers">Plugins</span>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="userManagement.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let experimentMetaData of experimentMetaData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/experiment-meta-data', experimentMetaData.id, 'view']">{{ experimentMetaData.id }}</a>
          </td>
          <td>{{ experimentMetaData.description }}</td>
          <td>{{ experimentMetaData.dataStructure }}</td>
          <td>
            <div *ngIf="experimentMetaData.experiment">
              <a [routerLink]="['/experiment', experimentMetaData.experiment?.id, 'view']">{{ experimentMetaData.experiment?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="experimentMetaData.dataMimeType">
              <a [routerLink]="['/data-mime-type', experimentMetaData.dataMimeType?.id, 'view']">{{
                experimentMetaData.dataMimeType?.type
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="experimentMetaData.experimentData">
              {{ experimentMetaData.experimentData.length }} <span jhiTranslate="xperisApp.experimentData.files">File(s)</span>
            </div>
          </td>
          <td>
            <div *ngFor="let plugin of plugin">
              <button
                *ngIf="plugin.dataMimeType?.type == experimentMetaData.dataMimeType?.type"
                (click)="getPluginView(experimentMetaData.id, plugin)"
                class="badge badge-success"
              >
                {{ plugin.name }}
              </button>
            </div>
          </td>
          <td>{{ experimentMetaData.createdBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                *ngIf="experimentMetaData.experimentData && experimentMetaData.experimentData.length > 0"
                type="button"
                (click)="downloadZip(experimentMetaData.id)"
                class="btn btn-secondary btn-sm"
              >
                <fa-icon icon="download"></fa-icon>&nbsp;<span>Download Zip</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/experiment-meta-data', experimentMetaData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_MASTER'"
                type="submit"
                [routerLink]="['/experiment-meta-data', experimentMetaData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_MASTER'"
                type="submit"
                (click)="delete(experimentMetaData)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="experimentMetaData && experimentMetaData.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
