<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-experiment-data-heading"
        data-cy="ExperimentDataCreateUpdateHeading"
        jhiTranslate="xperisApp.experimentData.home.createOrEditLabel"
      >
        Create or edit a Experiment Data
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experimentData.participants" for="field_participants"
            >Participants</label
          >
          <input
            type="text"
            class="form-control"
            name="participants"
            id="field_participants"
            data-cy="participants"
            formControlName="participants"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experimentData.experimentMetaData" for="field_experimentMetaData"
            >Experiment Meta Data</label
          >
          <select
            class="form-control"
            id="field_experimentMetaData"
            data-cy="experimentMetaData"
            name="experimentMetaData"
            (change)="updateMimeType(editForm.get('experimentMetaData')!.value)"
            formControlName="experimentMetaData"
          >
            <option *ngIf="!editForm.get('experimentMetaData')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                experimentMetaDataOption.id === editForm.get('experimentMetaData')!.value?.id
                  ? editForm.get('experimentMetaData')!.value
                  : experimentMetaDataOption
              "
              *ngFor="let experimentMetaDataOption of experimentMetaDataSharedCollection; trackBy: trackExperimentMetaDataById"
            >
              {{ experimentMetaDataOption.description }}&nbsp;({{ experimentMetaDataOption.dataMimeType!.type }})
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experimentData.data" for="field_data">Data</label>
          <div>
            <div *ngIf="editForm.get('data')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('dataContentType')!.value }}, {{ byteSize(editForm.get('data')!.value) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ data: null, dataContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
              <button
                type="button"
                (click)="openFile(editForm.get('id')!.value, editForm.get('data')!.value, editForm.get('dataContentType')!.value)"
                class="btn btn-primary btn-xs pull-right"
              >
                <fa-icon icon="download"></fa-icon>
              </button>
              <br />
            </div>
            <input
              *ngIf="!editForm.get('data')!.value"
              [disabled]="!editForm.get('experimentMetaData')!.value"
              type="file"
              id="file_data"
              data-cy="data"
              [accept]="acceptedType"
              (change)="setFileData($event, 'data')"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="data" id="field_data" data-cy="data" formControlName="data" />
          <input type="hidden" class="form-control" name="dataContentType" id="field_dataContentType" formControlName="dataContentType" />
        </div>
        <div
          *ngIf="
            editForm.get(['experimentMetaData'])!.invalid &&
            (editForm.get(['experimentMetaData'])!.dirty || editForm.get(['experimentMetaData'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['experimentMetaData'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
