<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="experiment">
      <h2 data-cy="experimentDetailsHeading"><span jhiTranslate="xperisApp.experiment.detail.title">Experiment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ experiment.id }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experiment.name">Name</span></dt>
        <dd>
          <span>{{ experiment.name }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experiment.description">Description</span></dt>
        <dd>
          <span>{{ experiment.description }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experiment.startDate">Start Date</span></dt>
        <dd>
          <span>{{ experiment.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experiment.finishCaptureDate">Finish Capture Date</span></dt>
        <dd>
          <span>{{ experiment.finishCaptureDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experiment.finishDate">Finish Date</span></dt>
        <dd>
          <span>{{ experiment.finishDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experiment.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'xperisApp.ExperimentStatus.' + experiment.status }}">{{ experiment.status }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experiment.members">Members</span></dt>
        <dd>
          <span *ngFor="let members of experiment.members; let last = last"> {{ members.login }}{{ last ? '' : ', ' }} </span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experiment.assistants">Assistants</span></dt>
        <dd>
          <span *ngFor="let assistants of experiment.assistants; let last = last"> {{ assistants.login }}{{ last ? '' : ', ' }} </span>
        </dd>
        <dt><span jhiTranslate="xperisApp.experiment.experimentMetaData">Experiment Meta Data</span></dt>
        <dd>
          <p style="margin-bottom: 0px" *ngFor="let metaData of experiment.experimentMetaData; let last = last">
            <a [routerLink]="['/experiment-meta-data', metaData.id, 'view']"
              >{{ metaData.description }}&nbsp;({{ metaData.dataMimeType?.type }})</a
            >{{ last ? '' : ', ' }}
          </p>
        </dd>
      </dl>
      <jhi-audit [entity]="experiment"></jhi-audit>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/experiment', experiment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
